@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.pagebackground {
    background: #0D0D0D;
    font-family: Manrope;
    position: relative;
    overflow: hidden;
}
.blob {
    left:600px;
    top:-100px;
    position: absolute;
    width: 720px;
    height: 720px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    box-shadow:
        inset 0 0 0 30px #D800DC,
        inset 100px 100px 0 0px #D800DC,
        inset 300px 300px 0 0px #000000;

    mix-blend-mode: color-dodge;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
}

.blob:hover {
    left:600px;
    top:-100px;
    width: 740px;
    height: 740px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    box-shadow:
        inset 0 0 0 30px #c807da,
        inset 100px 100px 0 0px #d000ff,
        inset 300px 300px 0 0px #000000;
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
}


.navbar {
    position: fixed;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    box-shadow: 0px -8px 65px 90px #0D0D0D;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-content {
    width: 530px;
    padding: 20px 20px 15px 20px;
    font-size: 18px;
    border-bottom: 2px solid #FFF;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}

.header-container {
    padding-top: 180px;
    margin: 0px 190px 100px 190px;
    display: flex;
}

.name-row1 {
    color: #FFF;
    font-size: 22px;
}

.name-row2 {
    color: #FFF;
    font-size: 76px;
    font-weight: 600;
}

.name-row3 {
    color: #909090;
    font-size: 32px;
}

.name {
    flex: 1.1;
    padding-top: 80px
}

.photo {
    flex: 0.6;

}

.myphoto {
    height: 286px;
    object-fit: cover;
    position: absolute;
    margin-top: 20px;
}

.ellipse1 {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 142.1px/154.42px;
    height: 309px;
    position: absolute;
    transform: rotate(10.9deg);
    width: 284px;
}

.ellipse2 {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 142.1px/154.42px;
    height: 309px;
    position: absolute;
    transform: rotate(-10.37deg);
    width: 284px;
}
.header-content-partition{
    min-height: 240px;
    position: relative;
}
.content-arrow {
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
  }


  .section-header{

    background: linear-gradient(100deg, #1c1c1c -4.2%, #600062 126.77%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font: 700 128px Manrope, sans-serif;
   
  }
  