@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: #FFF;
    font-family: "Manrope";
    font-size: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.pagebackground {
    background: #0D0D0D;
    font-family: Manrope;
    position: relative;
    overflow: hidden;
}

.blob {
    left: 600px;
    top: -100px;
    position: absolute;
    width: 720px;
    height: 720px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    box-shadow:
        inset 0 0 0 30px #D800DC,
        inset 100px 100px 0 0px #D800DC,
        inset 300px 300px 0 0px #000000;

    mix-blend-mode: color-dodge;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
}

.blob:hover {
    left: 600px;
    top: -100px;
    width: 740px;
    height: 740px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    box-shadow:
        inset 0 0 0 30px #c807da,
        inset 100px 100px 0 0px #d000ff,
        inset 300px 300px 0 0px #000000;
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
}


.navbar {
    position: fixed;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    box-shadow: 0px -8px 65px 90px #0D0D0D;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-content {
    width: 530px;
    padding: 20px 20px 15px 20px;
    font-size: 18px;
    border-bottom: 2px solid #FFF;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}


.header-container {
    padding-top: 180px;
    margin: 0px 190px 100px 190px;
    display: flex;
}

.name-row1 {
    color: #FFF;
    font-size: 22px;
}

.name-row2 {
    color: #FFF;
    font-size: 76px;
    font-weight: 600;
}

.name-row3 {
    color: #909090;
    font-size: 32px;
}

.name {
    flex: 1.1;
    padding-top: 80px
}

.photo {
    flex: 0.6;

}

.social-icon {
    height: 38px;
    width: 38px;
    margin: 30px 10px 0px 0px;
    transition: transform 0.7s;
}

.social-icon:hover {
    transform: scale(1.1);
}

.myphoto {
    height: 286px;
    object-fit: cover;
    position: absolute;
    margin-top: 20px;
}

.ellipse1 {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 142.1px/154.42px;
    height: 309px;
    position: absolute;
    transform: rotate(10.9deg);
    width: 284px;
}

.ellipse2 {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 142.1px/154.42px;
    height: 309px;
    position: absolute;
    transform: rotate(-10.37deg);
    width: 284px;
}

.header-content-partition {
    min-height: 90px;
    position: relative;
}

.content-arrow {
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}


.section-header {
    background: linear-gradient(100deg, #1c1c1c -4.2%, #600062 126.77%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 128px;
    margin-top: 80px;
    margin-left: 70px;
}

.section-content {
    color: #FFF;
    font-size: 20px;
    margin: -60px 90px 0px 90px;
    line-height: 36px;
}

.skills {
    margin: 0px 90px 0px 50px;

}

.skill-icon {
    height: 70px;
    margin: 20px 0px 0px 40px;
    transition: transform 0.7s;
}

.skill-icon:hover {
    transform: scale(1.07);
}

.project-frames {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.project-rectangle {
    width: 420px;
    height: 220px;
    margin: 10px;
    border: 3px solid transparent;
    background: linear-gradient(180deg, #98009b 60%, #4a004b) border-box;
    border-radius: 10px;
}

.project-rectangle .labourlink-screenshot,
.insightify-screenshot {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .project-frames {
        flex-wrap: none;
        justify-content: center;
        gap: 50px;

    }

    .project-rectangle {
        margin-bottom: 20px;
        width: 280px;
        height: 150px;
    }

    .navbar {
        width: 70%;
        margin-left: 15%;
    }

    .navbar-content button {
        font-size: 14px;
    }

    .name {
        padding-top: 60px;
    }

    .name-row1 {
        font-size: 14px;
    }

    .name-row2 {
        font-size: 30px;
        font-weight: 600;
    }

    .name-row3 {
        font-size: 15px;
    }

    .header-container {
        padding-top: 150px;
        margin: 0px 40px 100px 40px;
    }

    .myphoto {
        margin-top: 10px;
        height: 130px;
    }

    .ellipse1,
    .ellipse2 {
        height: 140px;
        width: 130px;
    }

    .social-icon {
        height: 24px;
        width: 24px;
        margin: 20px 4px 0px 0px;
    }

    .header-content-partition {
        display: none;
    }

    .content-arrow {
        display: none;
    }

    .section-header {
        font-weight: 700;
        font-size: 50px;
        margin-top: 80px;
        margin-left: 40px;
    }

    .section-content {
        color: #FFF;
        font-size: 12px;
        margin: -28px 50px 0px 50px;
        line-height: 24px;
    }

    .skills {
        margin: 0px 60px 0px 50px;

    }

    .skill-icon {
        height: 30px;
        margin: 10px 0px 0px 20px;
    }

    .skill-icon:hover {
        transform: none;
    }

    .social-icon:hover {
        transform: none;
    }

    .blob {
        left: 190px;
        top: 70px;
        position: absolute;
        width: 260px;
        height: 260px;
        -webkit-filter: blur(15px);
        filter: blur(15px);
        box-shadow:
            inset 0 0 0 15px #c807da,
            inset 50px 50px 0 0px #d51ee6,
            inset 150px 150px 0 0px #000000;
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
    .blob:hover{
        left: 190px;
        top: 70px;
        position: absolute;
        width: 260px;
        height: 260px;
        -webkit-filter: blur(15px);
        filter: blur(15px);
        box-shadow:
            inset 0 0 0 15px #c807da,
            inset 50px 50px 0 0px #d51ee6,
            inset 150px 150px 0 0px #000000;
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}


.page-end {
    min-height: 100px;
    border-bottom: 6px solid #4a004b;
}